{% extends 'news/navbar.html' %}

{% block title %}News{% endblock %}

{% block content %}
    {% for post in posts %}
    <div class="row">
      <div>
        <br>
          <h4>{{ post.title }}</h4>
          <p>{{ post.text | safe | truncatechars:256 }}</p>
          <a href="{% url 'posts' post.id %}" class="btn btn-outline-primary">Read more</a>
          {% if is_moderator %}
              <a href="{% url 'send_to_moderation' post.id %}" class="btn btn-outline-primary">Hide from published</a>
          {% endif %}
      </div>
      <hr>
    </div>
    {% empty %}
        <div class="alert alert-secondary" role="alert">
          <h4 class="alert-heading">Nothing new...</h4>
          <p>Looks like there are no news by now, but better nothing than bad, right?</p>
          <hr>
          <p class="mb-0">By the way, you can always post something yourself</p>
        </div>
    {% endfor %}
{% endblock %}
